.doctorList {
    width: 100%;
    border-collapse: collapse;
}

.tableRow {
    display: flex;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 0px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.tableRowHeader {
    display: flex;
    background-color: #f8f8f8;
    border: 0px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    user-select: none;

}

.tableRow:hover {
    transform: scale(1.03);
    max-width: 100%;
}

.tableRow:first-child {
    background-color: #f8f8f8;
}

.tableCell {
    flex-basis: 10%;
    padding: 5px;
    text-align: center;
    float: left;
}


.patientRow {
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 30px;
}
