.doctorList {
    width: 100%;
    border-collapse: collapse;
}

.tableRow {
    display: flex;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 0px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    max-width: 100%;
}

.tableRowHeader {
    display: flex;
    background-color: #f8f8f8;
    border: 0px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    user-select: none;

}

.tableRow:hover {
    transform: scale(1.03);
    max-width: 100%;
}

.tableRow:first-child {
    background-color: #f8f8f8;
}

.tableCell {
    flex-basis: 25%;
    padding: 5px;
    text-align: center;
    float: left;
}

.tableCell:first-child {
    flex-basis: 10%;
}

.tableCell:last-child {
    flex-basis: 20%;
    text-align: right;
}
