<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fishing Journal🎣 - Authentication Failed</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>Fishing Journal🎣 - Authentication Failed</h1>

<p>Authentication failed. Please try again.</p>

<a th:href="@{/auth}">Go back to Authentication</a>

</body>
</html>
