<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fishing Journal🎣</title>
</head>
<body>
<% out.print(2*5); %>
<h1>Fishing Journal🎣</h1>
<h2>Add your last Fish</h2>
<form action="${pageContext.request.contextPath}/addFish" method="post">
    <label for="species">Species:</label>
    <input type="text" id="species" name="species" placeholder="e.g. Carp" autocomplete="off" required/><br/>

    <label for="length">Length:</label>
    <input type="text" id="length" name="length" placeholder="in cm" autocomplete="off" required/><br/>

    <label for="weight">Weight:</label>
    <input type="text" id="weight" name="weight" placeholder="in g" autocomplete="off" required/><br/>

    <button type="submit">Add Fish</button>
</form>

<h2>Recent Catches</h2>
<table>
    <tr>
        <th>Date</th>
        <th>Species</th>
        <th>Length (cm)</th>
        <th>Weight (g)</th>
        <th>Location</th>
        <th></th>
    </tr>
</table>


<c:if test="${empty fishes}">
    <p>No recent fishes.</p>
</c:if>
</body>
</html>